body{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }


#root {
  color:rgb(24, 23, 23);
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin-top: 10px; 
}

.episode-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 8px;
  background-color: white; 
  max-width: 300px;
  margin: 12px;  
}


img{
  width: 100%;
  height: auto;
  border-radius: 5px;  
}


/* Controls container */
#controls {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  z-index: 999;
}

.search-container, .select-container {
  display: flex;
  align-items: center;
  gap: 10px;  
}

/* Search & select input */
#search-input,
#episode-select {
  padding: 4px 8px;     
  font-size: 0.85rem;    
  width: 300px;  
  border-radius: 8px;                    
}

#count-display {
  margin: 0;
  white-space: nowrap;
}


/* Error message */
.error-message {
  color: red;
}
 
