 body{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
#root {
  color:rgb(24, 23, 23);
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin-top: 70px;
  
}

 
 .episode-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 8px;
  background-color: white; 
  max-width: 300px;
  margin: 12px;
  

}

 img{
  width: 100%;
  height: auto;
  border-radius: 5px;  
 }

 #controls {
  display:flex;
  align-items: left;
  gap: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  z-index: 999;

}

.search-container, .select-container {
  display: flex;
  align-items: left;
  gap: 10px;
  flex: 1;
  width: 100px;
}

#search-input, #episode-select {
  padding: 5px;
  flex: 1;
  width: 200px;
  
}

#count-display {
  margin: 0;
  white-space: nowrap;
}
 