body {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#root {
  color: rgb(24, 23, 23);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.episode-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 8px;
  background-color: white; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;  
}

.episode-card p {
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.episode-card:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}
